<div id="error-container">
	<alert class="alert alert-{{alert.type}}" type="{{alert.type}}" close="closeAlert()">{{alert.msg}}</alert>
</div>
<div class="jumbotron">
	<fieldset class="room">
		<legend>Living Comedor</legend>
		<div class="row">
			<div class="col-sm-6" courtain model="livingCourtain"></div>
			<div class="col-sm-6">
				<div class="padded" simple-light model="livingLight"></div>
				<div class="padded" simple-light model="tableLight"></div>
				<div class="padded" simple-light model="entranceLight"></div>
				<div class="padded" simple-light model="ambientLight"></div>
			</div>
		</div>
	</fieldset>

	<fieldset class="room">
		<legend>Exterior
			<toggle-switch disabled="true" ng-model="exteriorLights.status"></toggle-switch>
		</legend>
		<div class="row">
			<div class="col-sm-4" ng-repeat="model in exteriorLights.lights" class="padded" simple-light model="model"></div>
		</div>
</div>
</fieldset>

</div>
